*{
    margin: 0;
    padding: 0;
    border: 0 none;
}

body {
    font-family: 'slackey', 'Annie Use your telescope';
    background-color: #ffffff;
    margin: 0;
    padding: 0;
height: 100vh;
}

.container {
    
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.circle {
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: #70D0D0;
    right: 0%;
    top: 0%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}
.info {
    max-width: 50%;
    position: relative;
    z-index: 3;
    font-size: 50px;
    color: #363636;
    font-family: 'Annie Use your telescope';
    display: flex ;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
    min-width: 100%;
} 

h1 {
    font-size: 75px;
    font-weight: bolder;
    color: #0b2135;
    font-family: slackey;
}
.apodos {
font-size: 30px;
margin-bottom: 50px;
font-style: italic;
font-weight: bold;
font-family:'Annie Use your telescope';
}

.icons {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-bottom: 50px;
    fill:rgb(82, 199, 199);
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}
.icon svg {
width: 100px;
height: 100px;
}

.icon p {
    font-size: 50px;
    white-space: nowrap
}

.icon img {
    width: 50px;
    height: 50px;
}

.btn {
    background-color: #51b9b9;
    border: none;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    color: black;
    background-color: #93ecec;
}

.cat-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cat-image img {
    width: auto;
    height: 60vh;
    z-index: 2 ;
    object-fit: cover;
    transition: height 0.2s ease-in-out;

}

.cat-image img:hover { 
 height: 67vh;
}
